.header{
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 100;
    background-color: #051B4C;
    height: 60px;
    padding-bottom: 2px;
    top: 0;
    transition: background-color 0.3s, filter 0.3s;
}
.header__logo{
    width: 111px;
    object-fit: contain;
    margin: 0 5px;
}
.header__option{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
}
.header__nav{
    margin-right: 5px;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header__optionLineOne{
    text-transform: capitalize;
    font-size: 14px;
    color: white;
}
.header__optionLineTwo{
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.header > .nav-toggle{
    display: none;
}
.header__optionBasketMobile{
    display: none;
}
.logout-btn{
    border: none;
    margin-left: 4px;
    width: fit-content;
    border-bottom: 1px #FFBF00 solid;
    background: #8a95ad44;
    appearance: none;
    outline: none;
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
}

/* userOption css here. */
.speedDial {
    position: fixed;
    right: 3vmax;
    top: 3vmax;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }

  .header_optionCart {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .header_CartCount {
    color: #FFBF00;
    margin: 0 10px;
  }

.header_optionCartMobile{
    display: none;
}

.header_optionAccount{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_optionLineOneIcon {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  .header__optionLineTwoText {
    margin-left: 10px;
  }

/* mobile navbar */
@media screen and (max-width:700px){
    .header_optionCartMobile{
        display:block;
        color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: fit-content;
    width:fit-content;
    position: absolute;
    right: 70px;
    top: 16px;
    font-size: 22px;
    }   
    .header_optionCart {
        display: none;
    }
    .header__logo{
        margin: 0 6px;
    }
    .header > .header__nav{
        align-items: flex-start;
        position: absolute;
        top: 55px;
        display: flex;
        flex-direction: column;
       /* justify-content: space-evenly; */
        background: #051b4cf1;
        left: 0;
        width: 50%;
        height: 100vh;   
        transform: translateX(-100%); 
        transition:all 0.45s;
    }
    .header > .header__nav.open{
        transform: translateX(0);
    }
    .header__option{
        margin-top: 25px;
        margin-bottom: 5px;
    }
    .header > .nav-toggle{
        position: absolute;
        right: 4px;
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer; 
    }
    .nav-toggle > .bar{
        position: relative;
        width: 32px;
        height: 2px;
        background: white;
        transition: all .45s ease-in-out;
    }
    .nav-toggle>.bar::before,  .nav-toggle>.bar::after{
        content: "";
        position: absolute;
        height: 2px;
        background: #FFBF00;
        border-radius: 2px;
        transition: all .45s ease-in-out;
    }
    .nav-toggle>.bar::before{
        width: 25px;
        transform: translateY(-8px);
        right: 0;
    }
    .nav-toggle>.bar::after{
        width: 32px;
        transform: translateY(8px);
        right: 0;
    }
    .nav-toggle.open>.bar{
        transform: translateX(-40px);
        background: transparent;
    }
    .nav-toggle.open>.bar::before{
        transform: rotate(45deg) translate(26px, -26px);
        width: 32px;
    }
    .nav-toggle.open>.bar::after{
        transform: rotate(-45deg) translate(26px, 26px);
    }
    .header__optionLineOne{
        font-size: 16px;
    }
    .header__optionLineTwo{
        font-size: 17px;
    }
}